<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register - TableSe</title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
              That username is already taken. Please choose another.
            </div>

            <form class="user" th:action="@{/register}" th:object="${registrationRequest}" method="post">
              <h6 class="text-primary">Your Details</h6>
              <hr class="mt-0">
              <div class="form-group">
                <input type="text" class="form-control form-control-user" th:field="*{ownerName}" placeholder="Your Full Name (this will be your username)" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" th:field="*{ownerEmail}" placeholder="Email Address" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user" th:field="*{password}" placeholder="Password (min. 6 characters)" required>
              </div>

              <br>
              <h6 class="text-primary">Restaurant Details</h6>
              <hr class="mt-0">

              <div class="form-group">
                <input type="text" class="form-control form-control-user" th:field="*{restaurantName}" placeholder="Restaurant Name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-user" th:field="*{restaurantAddress}" placeholder="Restaurant Address">
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" th:href="@{/login}">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>
</html>